<div class="modal-header">
    <h3 class="modal-title">添加图片</h3>
</div>
<div class="modal-body">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="addForm" class="form-horizontal" novalidate>
            <div class="form-body">
                <div class="text-center" style="padding: 5px;">
                  <a href="" ng-click="type='local'">本地上传</a>或<a href="" ng-click="type='online'">网络图片</a>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                      <input type="text" required autocomplete="off" ng-show="type==='online'" ng-model="url" class="form-control" placeholder="图片链接" /> 

                      <button ng-show="type==='local'" class="btn btn-info btn-block" ngf-select ngf-change="uploadImg($files)">选择本地图片</button>

                    </div>
                </div>

            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" ng-show="type==='online'" ng-disabled="addForm.$invalid" ng-click="fetchImg()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
