<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="manage-box">
	<div class="manage-container tags-manage">
		  	<h1 class="text-center">标签管理-标签列表</h1>
		  	<hr />
		  	<div class="table-toolbar">
		  	    <div class=" btn-group">
		  	        <button class="btn btn-primary" ng-click="add()">
		  	            添加标签 <i class="fa fa-plus"></i>
		  	        </button>
		  	    </div>
		  	    <div class=" btn-group pull-right" dropdown is-open="status.isopena">
		  	    <select ng-change="changeCat()" class="form-control" ng-model="cid" ng-options="cat._id as cat.name for cat in catList">
		  	      <option value="">--全部标签--</option>
		  	    </select>

		  	    </div>
		  	</div>
		  	<div class="portlet-body table-responsive">
				  	<table class="table table-striped table-bordered table-hover table-condensed">
				  	    <thead>
				  	        <tr>
				  	            <th>
				  	                标签名
				  	            </th>
				  	            <th>
				  	                所属分类
				  	            </th>
				  	            <th>排序</th>
				  	            <th>是否显示</th>
				  	            <th>是否首页</th>
				  	            <th class="text-center">
				  	                管理
				  	            </th>
				  	        </tr>
				  	    </thead>
				  	    <tbody>

				  	        <tr class="odd gradeX" ng-repeat="tag in tagList">
				  	            <td>
				  	                <span>{{tag.name}}</span>
				  	            </td>
				  	            <td>
				  	                <span>{{tag.cid.name}}</span>
				  	            </td>
				  	            <td>{{tag.sort}}</td>
				  	            <td>
				  	            	<i class="fa fa-check text-success" ng-show="tag.is_show"></i>
				  	            	<i class="fa fa-times text-danger" ng-show="!tag.is_show"></i>
				  	            </td>
				  	            <td>
				  	            	<i class="fa fa-check text-success" ng-show="tag.is_index"></i>
				  	            	<i class="fa fa-times text-danger" ng-show="!tag.is_index"></i>
				  	            </td>
				  	            <td class="text-center">
				  	                <a href="" ng-click="edit(tag)">Edit</a>&nbsp;&nbsp;
				  	                <a href="" ng-click="del(tag)">Delete</a>
				  	            </td>
				  	        </tr>

				  	    </tbody>
				  	</table>
					</div>
	</div>
</div>