<div class="modal-header">
    <h4 class="modal-title text-center">请用以下方式登录</h4>
</div>
<div class="modal-body">
    <div class="portlet-body">
          <div class="login-sns">
            <ul>
            <li ng-click="loginOauth('github')">
              <a class="github" href="javascript:;"><i class="fa fa-github"></i></a>
            </li>  
             <li ng-click="loginOauth('weibo')">
                <a class="weibo" href="javascript:;"><i class="fa fa-weibo"></i></a>
              </li>
              <li ng-click="loginOauth('qq')">
                <a class="qq" href="javascript:;"><i class="fa fa-qq"></i></a>
              </li>
            </ul>
          </div>
    </div>
</div>